/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: #329A68; /* WebKit/Blink Browsers */
    color: #FFF;
}

::-moz-selection {
    background: #329A68; /* Gecko Browsers */
    color: #FFF;
}
